@page
@{
    ViewData["Title"] = "Welcome to Explore California";
}

<link href="~/css/main.css" rel="stylesheet" type="text/css" media="screen, projection">

@section Scripts {
    <script src="~/js/index.js"></script>
}

<link rel="stylesheet" href="~/css/chat.css" />



<div id="wrapper">
    <header id="mainHeader">
        <a href="/" title="home" class="logo">
            <div>
                <h1>Explore California</h1>
            </div>
        </a>
        <nav id="siteNav">
            <h1>Where do you want to go?</h1>
            <ul>
                <li>
                    <a href="/" title="Our tours">Tours <br /><span class="tagline">follow our bliss</span></a>
                </li>
                <li><a href="/" title="What we believe">Mission <br /><span class="tagline">what makes us different?</span></a></li>
                <li>
                    <a href="/" title="planning resources">Resources <br /><span class="tagline">plan your trip</span></a>
                </li>
                <li>
                    <a href="/" title="Our community">Explorers <br /><span class="tagline">join our community</span></a>
                </li>
                <li>
                    <a href="/" title="contact us" class="last">Contact <br /><span class="tagline">we're listening</span></a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="contentWrapper">
        <section id="mainContent">


    </div>
    <footer id="pageFooter">

    </footer>
</div>
